@layout({ title: "Password Recovery" })
  <div class="container">
    <h1>Password Recovery</h1>

    <p class="success">
      Your password has been recovered successfully!<br>
    </p>

    <p>
      Now you can login with your new password
    </p>

  </div>
@end